# importing the libraries and Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\shrav\Documents\Machine Learning\AI Project\hyderabad_eta_data.csv")

In [3]:
df.head()

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day,ETA
0,17.312362,78.355540,17.278512,78.501811,17.587880,3,rainy,3,17,26.113020
1,17.485214,78.462570,17.274094,78.539004,24.357538,8,clear,5,14,58.715248
2,17.419598,78.561884,17.471876,78.375140,23.044667,7,rainy,6,8,59.316409
3,17.379598,78.519667,17.274864,78.487462,5.463097,3,clear,2,17,35.630253
4,17.246806,78.541968,17.281585,78.471524,5.328235,6,clear,1,2,56.713490

# Data Pre-Processing

In [4]:
df.duplicated().sum()

0

In [5]:
df.isna().sum()

start_lat            0
start_lng            0
end_lat              0
end_lng              0
distance_km          0
traffic_density      0
weather_condition    0
day_of_week          0
hour_of_day          0
ETA                  0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   start_lat          1000 non-null   float64
 1   start_lng          1000 non-null   float64
 2   end_lat            1000 non-null   float64
 3   end_lng            1000 non-null   float64
 4   distance_km        1000 non-null   float64
 5   traffic_density    1000 non-null   int64
 6   weather_condition  1000 non-null   object
 7   day_of_week        1000 non-null   int64
 8   hour_of_day        1000 non-null   int64
 9   ETA                1000 non-null   float64
dtypes: float64(6), int64(3), object(1)
memory usage: 78.3+ KB

In [7]:
df.corr(numeric_only = True)

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,day_of_week,hour_of_day,ETA
start_lat,1.000000,0.029310,0.014518,-0.029424,0.034785,-0.024754,0.055406,-0.014557,-0.030701
start_lng,0.029310,1.000000,0.027262,-0.005791,0.032911,0.000297,-0.048353,0.014242,-0.007978
end_lat,0.014518,0.027262,1.000000,-0.013560,-0.008858,-0.014043,-0.057856,-0.006245,0.061752
end_lng,-0.029424,-0.005791,-0.013560,1.000000,-0.044812,0.034494,0.017789,-0.012494,0.009425
distance_km,0.034785,0.032911,-0.008858,-0.044812,1.000000,-0.031475,0.066093,0.022646,-0.008686
traffic_density,-0.024754,0.000297,-0.014043,0.034494,-0.031475,1.000000,-0.010457,0.018572,-0.009196
day_of_week,0.055406,-0.048353,-0.057856,0.017789,0.066093,-0.010457,1.000000,0.020010,0.072280
hour_of_day,-0.014557,0.014242,-0.006245,-0.012494,0.022646,0.018572,0.020010,1.000000,0.009233
ETA,-0.030701,-0.007978,0.061752,0.009425,-0.008686,-0.009196,0.072280,0.009233,1.000000

# Data Cleaning

## Feature engineering

In [8]:
df

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day,ETA
0,17.312362,78.355540,17.278512,78.501811,17.587880,3,rainy,3,17,26.113020
1,17.485214,78.462570,17.274094,78.539004,24.357538,8,clear,5,14,58.715248
2,17.419598,78.561884,17.471876,78.375140,23.044667,7,rainy,6,8,59.316409
3,17.379598,78.519667,17.274864,78.487462,5.463097,3,clear,2,17,35.630253
4,17.246806,78.541968,17.281585,78.471524,5.328235,6,clear,1,2,56.713490
...,...,...,...,...,...,...,...,...,...,...
995,17.227475,78.497087,17.459589,78.432632,27.024522,9,clear,2,4,18.585042
996,17.475194,78.586984,17.247182,78.400320,4.462049,1,rainy,5,14,42.688225
997,17.241046,78.320687,17.292936,78.418372,10.507442,1,clear,5,12,11.273635
998,17.485071,78.317116,17.287014,78.458982,24.656616,4,rainy,5,12,13.180450
999,17.333802,78.384656,17.461424,78.348410,18.322059,4,rainy,3,12,21.053944

In [9]:
df["weather_condition"].unique()

array(['rainy', 'clear', 'foggy'], dtype=object)

In [10]:
df["weather_condition"] = df["weather_condition"].map({"rainy":1,"foggy":2,"clear":3})

# Model Building

## splitting the input and output

In [11]:
df.head()

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day,ETA
0,17.312362,78.355540,17.278512,78.501811,17.587880,3,1,3,17,26.113020
1,17.485214,78.462570,17.274094,78.539004,24.357538,8,3,5,14,58.715248
2,17.419598,78.561884,17.471876,78.375140,23.044667,7,1,6,8,59.316409
3,17.379598,78.519667,17.274864,78.487462,5.463097,3,3,2,17,35.630253
4,17.246806,78.541968,17.281585,78.471524,5.328235,6,3,1,2,56.713490

In [12]:
x = df.drop("ETA" , axis = 1)
y = df["ETA"]

In [13]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\shrav\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\shrav\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\shrav\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\shrav\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\shrav\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [15]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 23)

In [16]:
y_train

228    30.398130
45     44.762920
373    47.206334
813    11.779107
448    49.694668
         ...
950    39.117873
969    28.932119
40     31.858602
742    48.063773
595    40.240088
Name: ETA, Length: 800, dtype: float64

# LinearRegression

In [17]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)
mean_squared_error(y_test,y_pred)

228.5919996249638

# KNN Regression

In [18]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor()
knn.fit(x_train,y_train)
y_pred = knn.predict(x_test)
mean_squared_error(y_test,y_pred)

245.11420625818508

# Decision Tree

In [19]:
from sklearn.tree import DecisionTreeRegressor
DT = DecisionTreeRegressor()
DT.fit(x_train,y_train)
y_pred = DT.predict(x_test)
mean_squared_error(y_test,y_pred)

365.235678913156

# SVR

In [20]:
from sklearn.svm import SVR
sv = SVR()
sv.fit(x_train,y_train)
y_pred = sv.predict(x_test)
mean_squared_error(y_test,y_pred)

226.54505877560223

In [21]:
lr.coef_

array([-4.22512291, -0.65865854, 14.34596171,  3.93849869, -0.04716621,
       -0.13704362,  0.08144095,  0.53928957,  0.06447841])

In [22]:
lr.intercept_

-398.57379847972663

# Deployement

In [23]:
start_lat = float(input("Enter the Start lattitude : "))
start_lang = float(input("Enter the Start langitude : "))
end_lat = float(input("Enter the End lattitude : "))
end_lang = float(input("Enter the End langitude : "))
dist = float(input("Enter the Distance : "))
density = int(input("Enter the Density : "))
weather = int(input("Enter the weather : "))
day = int(input("Enter the day : "))
hour = int(input("Enter the hour : "))
time = lr.predict([[start_lat, start_lang, end_lat, end_lang,dist, density, weather, day, hour ]])
print("The Estimated time is",time)

Enter the Start lattitude : 1

KeyboardInterrupt

In [ ]:
17.4875,78.3953,17.4401,78.3489

In [ ]:
lr.coef_

In [ ]:
Eta = -4.22512291*start_lat-0.65865854*start_lang+14.34596171*end_lat+3.93849869*end_lang-0.04716621*dist-0.13704362*density+0.08144095*weather+0.53928957*day+ 0.06447841*time-398.5737984797196

In [ ]:
Eta

In [24]:
import pickle

In [25]:
pickle.dump(lr,open("Estimator.pkl","wb"))

In [26]:
model = pickle.load(open("Estimator.pkl","rb"))

In [27]:
model

LinearRegression()

In [28]:
start_lat = float(input("Enter the Start lattitude : "))
start_lang = float(input("Enter the Start langitude : "))
end_lat = float(input("Enter the End lattitude : "))
end_lang = float(input("Enter the End langitude : "))
dist = float(input("Enter the Distance : "))
density = int(input("Enter the Density : "))
weather = int(input("Enter the weather : "))
day = int(input("Enter the day : "))
hour = int(input("Enter the hour : "))
time = lr.predict([[start_lat, start_lang, end_lat, end_lang,dist, density, weather, day, hour ]])
print("The Estimated time is",time)

Enter the Start lattitude : 17.4933
Enter the Start langitude : 78.3914
Enter the End lattitude : 17.4399
Enter the End langitude : 78.4973
Enter the Distance : 15
Enter the Density : 4
Enter the weather : 1
Enter the day : 4
Enter the hour : 13
The Estimated time is [37.05649587]

C:\Users\shrav\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(